@using System.Text.RegularExpressions
@model UserStore.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<link href="~/Content/LoginRegisterStyle.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Login</a>
                        </div>
                        <div class="col-xs-6">
                            @Html.ActionLink("Register", "Register", null, new { id = "register-form-link" })
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                var t = Html.ValidationSummary().ToString();
                                Regex reg = new Regex("<li>(.*?)</li>");
                                Match m = reg.Match(t);
                                var message = m.Groups[1].ToString();
                                if (!string.IsNullOrEmpty(message))
                                {
                                    <script>
                                        if (!history.next)
                                            sweetAlert("", "@message", "error");
                                    </script>
                                }
                                <div class="form-group text-center">
                                    @Html.EditorFor(model => model.Email, new
                               {
                                   htmlAttributes = new { tabindex = "1", @class = "form-control", placeholder = "Username", style = "margin:auto" }
                               })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group text-center">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { tabindex = "2", @class = "form-control", placeholder = "Password", style = "margin:auto" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger " })
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" value="Login" class="form-control btn btn-login">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


