@model UserStore.Models.UserModel
<link href="~/Content/EditModelStyles.css" rel="stylesheet" />

<script src="~/Scripts/EditModelScripts.js"></script>
<div style="background-color: rgba(255, 255, 255, 0.1); max-width: 550px; margin-left: 20px;">

    <input onclick="Close()" type="button"  name="btnSave" class="btn btn-primary btn-sm center-block" value="X"style="float: right; margin-top: -40px; margin-right: 10px;" />
        <br><br>
        <form id="myForm" enctype="multipart/form-data" class="form-horizontal">
            <fieldset>
                <div >
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="showErrorMessage" class="text-danger"></div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Name</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control input-md", style = "width:93%" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Surname</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control input-md", style = "width:93%" } })
                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">URL</label>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control input-md", style = "width:93%" } })
                            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="full-width2"style="margin-left: 22px;">

                        <label class="col-md-4 control-label" style="margin-top: 15px;">Avatar</label>
                        <div class="col-md-8">
                            <input type="file" id="base-input" class="form-control form-control2 form-input form-style-base image-preview2" name="uploadImage" accept=".png, .jpg, .jpeg">
                            <input type="text" id="fake-input" class="form-control form-control2 form-input form-style-fake" placeholder="Pick photo" readonly>
                            <span class="glyphicon glyphicon-open input-place"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="full-width" style="margin-left: 22px;">

                        <label class="col-md-4 control-label" style="margin-top: 15px;">Theme</label>
                        <div class="col-md-8">
                            <input type="file" id="base-input2" class="form-control form-control2 form-input form-style-base image-preview3" name="themeImage" accept=".png, .jpg, .jpeg">
                            <input type="text" id="fake-input2" class="form-control form-control2 form-input form-style-fake" placeholder="Pick photo" readonly>
                            <span class="glyphicon glyphicon-open input-place"></span>
                        </div>
                    </div>
                </div>
    <!-- Button (Double) -->
    <div class="form-group">
        <div class="col-sm-6 col-sm-offset-4">
            <input onclick="addUserInfo()" type="button" id="btnSave" name="btnSave" class="btn btn-primary btn-sm center-block" value="Save"/>
           
        </div>
    </div>
    @Html.HiddenFor(a => a.Id)

    </fieldset>
    </form>

</div>

