@model UserStore.Models.UserModel

@{
    ViewBag.Title = "User Page";
}
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/UserPageStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <div class="row">
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
            <div class="col-md-8">
                <div>
                    <img align="left" class="fb-image-profile thumbnail" src="/Home/ViewImage/@Model.Id" onerror="this.src = '/Content/user-default.png'" />
                </div>
                <div style="margin-top: -10px;float: left">
                    <h1>@Model.Name @Model.Surname</h1>
                    @Html.ActionLink("Edit profile", "EditModel", null, new { @class = "modal1" })<br>
                    @Html.ActionLink("Logout", "Login", "Account", null, new { style = " float: Left;" })
                </div>
            </div>



                <div class="search" style="float: right">
                    @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "results" }))
            {
                        <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" name="searchField" id="searchField" />
                        <button type="submit" class="btn btn3 btn-primary btn-sm" id="SubmitBtn">Search</button>

                    }
                    <div id="results"  style=" z-index: 1000; position: absolute;margin-top:20px"></div>
                </div>
      
        </div>

    </div>

</div>

<br>
<br>
<script type="text/javascript">
   
</script>
<script>
    
    setInterval(myTimer, 500);

    function myTimer() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Wall", "Home")',
            data: { id: "@Model.Id" },
            success: function (data) {
                var div = document.getElementById("results2");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }

        });
        return false;
    };
</script>

<div class="row " id="wall">
    @using (Ajax.BeginForm("AddPost", "Home", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "" }))
    {
        <div style="" class="col-md-4"></div>
            <div  class="col-md-4">
                <input type="text" class="form-control" placeholder="" name="postField" id="postField" style="width: 120%;" />
                <br>
            </div>
            <div style="" class="col-md-4">
                <input type="submit" class="btn btn-primary btn-sm" value="Post">
            </div>
            }
            <div class="col-md-10 col-md-offset-3">

                <div id="results2"></div>
            </div>

        </div> <!-- /container -->
<!--<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet'/>-->

<script type="text/javascript">
    $(function () {
        $('.modal1').click(function () {
            $('<div/>').appendTo('body').dialog({
                position: { my: "center", at: "top+180", of: window },
                title: "Edit",
                width: 500,
                maxWidth: 500,
                resizable: false,
                closeText: "X",
                close: function (event, ui) {
                    dialog.remove();

                },

                modal: true
            }).load(this.href, {});

            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#searchField").bind('input', function () {
            $("#SubmitBtn").submit();
        });
    });
    function DeletePost(postId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePost", "Home")',
            data: { id: postId },
            success: function (data) {

                return false;
            }

        });
        return false;
    };
</script>


