@model UserStore.Models.UserModel

@{
    ViewBag.Title = Model.Name + " " + Model.Surname;
}
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/UserPageStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<script src="~/Scripts/UserPageScripts.js"></script>
<div class="container">
    <div class="fb-profile">
        <div class="row">
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
            <div class="col-md-8">
                <div>
                    <img align="left" class="fb-image-profile thumbnail" src="/Home/ViewImage/@Model.Id" onerror="this.src = '/Content/user-default.png'" />
                </div>
                <div style="margin-top: -10px;float: left">
                    <h1>@Model.Name @Model.Surname</h1>
                    @Html.ActionLink("Edit profile", "EditModel", null, new { id = "modalWindow" })<br>
                    @Html.ActionLink("Logout", "Logout", "Account", null, new { style = " float: Left;" })
                </div>
            </div>
            <div class="search" style="float: right">
                @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "results" }))
                {
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" name="searchField" id="searchField" />
                    <button type="submit" class="btn btn3 btn-primary btn-sm" id="SubmitBtn">Search</button>
                }
                <div id="results" style=" z-index: 1000; position: absolute; margin-top: 50px; background-color: rgba(0, 120, 201, 0.1);width: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<div class="row " id="wall">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="widget-area no-padding blank panel panel-white post panel-shadow">
            <div class="status-upload">
                @using (Ajax.BeginForm("AddPost", "Home", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "wallResult" }, new { enctype = "multipart/form-data" }))
                {
                    <textarea placeholder="Leave your message here" name="postField" id="postField"></textarea>
                    <div class="image-upload image-preview" style="display: inline-block; margin-left: 20px; margin-top: 20px;">
                        <label for="uploadImage">
                            <a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture" ><i class="fa fa-picture-o image-preview-filename" ></i></a>
                        </label>
                        <input type="file" name="uploadImage" id="uploadImage">
                    </div>
                    <button type="submit" class="btn btn-primary image-preview-clear"> Post</button>
                }
            </div>

        </div>
    </div>
</div>
<div class="row ">
    <br>
    <br>
    <div class="col-md-offset-3">
        <div id="wallResult"></div>
    </div>
</div>

<span id="divparent1"></span>
<script>
    var timer = setInterval(myTimer, 5000);
    function myTimer() {
        $.ajax({
            type: "POST",
            url: '/Home/Wall/',
            data: { id: "@Model.Id" },
            success: function (data) {
                var div = document.getElementById("wallResult");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }
        });
        return false;
    };
    myTimer();
</script>