@model UserStore.Models.UserModel

@{
    ViewBag.Title = "User Page";
}
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />
<link href="~/Content/UserPageStyle.css" rel="stylesheet" />
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
    <div class="fb-profile">
        <div class="row">
            <img align="left" class="fb-image-lg" src="http://lorempixel.com/850/280/nightlife/5/" alt="Profile image example" />
            <div class="col-md-8">
                <div>
                    <img align="left" class="fb-image-profile thumbnail" src="/Home/ViewImage/@Model.Id" onerror="this.src = '/Content/user-default.png'" />
                </div>
                <div style="margin-top: -10px;float: left">
                    <h1>@Model.Name @Model.Surname</h1>
                    @Html.ActionLink("Edit profile", "EditModel", null, new { @class = "modal1" })<br>
                    @Html.ActionLink("Logout", "Login", "Account", null, new { style = " float: Left;" })
                </div>
            </div>



            <div class="search" style="float: right">
                @using (Ajax.BeginForm("Search", "Home", new AjaxOptions { UpdateTargetId = "results" }))
            {
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" name="searchField" id="searchField" />
                    <button type="submit" class="btn btn3 btn-primary btn-sm" id="SubmitBtn">Search</button>

                }
                <div id="results" style=" z-index: 1000; position: absolute; margin-top: 50px; background-color: rgba(0, 120, 201, 0.1);width: 300px;"></div>
            </div>

        </div>

    </div>

</div>

<br>
<br>
<script type="text/javascript">

</script>
<script>

    var timer = setInterval(myTimer, 5000);

    function myTimer() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Wall", "Home")',
            data: { id: "@Model.Id" },
            success: function (data) {
                var div = document.getElementById("results2");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }

        });
        return false;
    };

    myTimer();
</script>

<div class="row " id="wall">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="widget-area no-padding blank panel panel-white post panel-shadow">
            <div class="status-upload">
                @using (Ajax.BeginForm("AddPost", "Home", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "results2" }, new { enctype = "multipart/form-data" }))
                {

                    <textarea placeholder="What are you doing right now?" name="postField" id="postField"></textarea>

                                    <div class="image-upload" style="display: inline-block; margin-left: 20px; margin-top: 20px;">
                                        <label for="uploadImage">
                                            <a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture" onclick="UploadFile()"><i class="fa fa-picture-o"></i></a>
                                        </label>
                                        <input type="file" name="uploadImage" id="uploadImage">
                                    </div>

                                    <button type="submit" class="btn btn-primary " > Post</button>
                }
            </div>

        </div>
    </div>
</div>
<div class="row ">
    <br>
    <br>
    <div class="col-md-offset-3">
        <div id="results2"></div>
    </div>
</div>
<!--<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel='stylesheet'/>-->

<script type="text/javascript">

    window.addEventListener("submit", function (e) {
        var form = e.target;
        if (form.getAttribute("enctype") === "multipart/form-data") {
            if (form.dataset.ajax) {
                e.preventDefault();
                e.stopImmediatePropagation();
                var xhr = new XMLHttpRequest();
                xhr.open(form.method, form.action);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        if (form.dataset.ajaxUpdate) {
                            var updateTarget = document.querySelector(form.dataset.ajaxUpdate);
                            if (updateTarget) {
                                updateTarget.innerHTML = xhr.responseText;
                            }
                        }
                    }
                };           
                xhr.send(new FormData(form));
                document.getElementById("uploadImage").value = "";            
                document.getElementById("postField").value = "";
                return false;
            }
        }
    }, true);
    $(function () {
        $('.modal1').click(function () {
            $('<div/>').appendTo('body').dialog({
                position: { my: "center", at: "top+180", of: window },
                title: "Edit",
                width: 500,
                maxWidth: 500,
                resizable: false,
                closeText: "x",

                close: function (event, ui) {
                    dialog.remove();


                },

                modal: true
            }).load(this.href, {});

            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#searchField").bind('input', function () {
            $("#SubmitBtn").submit();
        });
    });
    function DeletePost(postId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeletePost", "Home")',
            data: { id: postId },
            success: function (data) {
                var div = document.getElementById("results2");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }

        });
        return false;
    };
    function LikePost(postId) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("LikePost", "Home")',
            data: { id: postId },
            success: function (data) {
                var div = document.getElementById("results2");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }

        });
        return false;
    };
    function GetLikes(postId) {
        clearInterval(timer);
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLikeUsers", "Home")',
            data: { id: postId },
            success: function (data) {
                console.log(postId + "results");
                var div = document.getElementById(postId + "results");
                var oldScrollTop = div.scrollTop;
                div.innerHTML = data;
                div.scrollTop = oldScrollTop;
                return false;
            }

        });
        return false;
    };
    var i = 0;


    var n = 0;
    $(document.body).on("mouseleave", "div.qwerty", function () {
        myTimer();
        clearInterval(timer);
        timer = setInterval(myTimer, 5000);

    });

</script>



